
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Playwrite NO", cursive;
}

.container{
    width: 100%;
    min-height: 100vh;
    text-align: center; 
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 90%, rgba(0,212,255,1) 100%);
}
h1{
    color: white;
}

input{
    width: 270px;
    padding: 8px;
    margin: 15px;
    border: 2px solid rgb(21, 191, 191);
    border-radius: 10px;
    outline: none;
    font-size: 19px;
    align-items: center;
    
}
button{
    width: 60px;
    height: 41px;
    background-color: rgb(21, 191, 191);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    /* border: none;
    outline: none; */
}

.text ul{
    position: relative;
    color: white;
    padding-right: 10px;
    
    
}
.text ul i{
    position: relative;
    cursor: pointer;
    padding-left: 10px;
}
    
    



    
    


